
.QuestionComp h2 {
    text-align: center;
}

.QuestionComp .question-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 20px;
    background-color: #737373d8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-container h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: rgb(2, 2, 117);
}

.question-container h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: white;
}

.question-container ul {
    list-style-type: none;
    padding: 0;
    width: 80%;
}

.question-container ul li {
    border: 2px solid white;
    background-color: #cccbcbd8;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}

.question-container ul li.selected {
    background-color: rgba(255, 166, 0, 0.594);
}

.question-container ul li:hover {
    background-color: #f48a8a;
}

.answer-feedback {
    color: red;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px;
    background-color: #d4edda;
    border-radius: 4px;
}


@media (max-width: 1200px) {
    .question-container {
        padding: 20px;
    }

    .question-container h2 {
        font-size: 1.4rem;
    }

    .question-container h3 {
        font-size: 1.1rem;
    }

    .question-container ul li {
        padding: 9px;
    }
}


@media (max-width: 992px) {
    .question-container {
        padding: 15px;
    }

    .question-container h2 {
        font-size: 1.3rem;
    }

    .question-container h3 {
        font-size: 1rem;
    }

    .question-container ul li {
        padding: 8px;
    }
}


@media (max-width: 768px) {
    .question-container {
        padding: 10px;
    }

    .question-container h2 {
        font-size: 1.2rem;
    }

    .question-container h3 {
        font-size: 0.9rem;
    }

    .question-container ul li {
        padding: 7px;
    }
}


@media (max-width: 576px) {
    .question-container {
        padding: 5px;
    }

    .question-container h2 {
        font-size: 1.1rem;
    }

    .question-container h3 {
        font-size: 0.8rem;
    }

    .question-container ul li {
        padding: 6px;
    }
}
